@model ALMInlämning1.WebUI.Models.ViewModels.CustomerAccountViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Customers and accounts</h2>
        <hr />

        @foreach (var cust in Model.Customers)
        {
            <p>Kundid: @cust.CusomterId</p>
            <p>@cust.FirstName @cust.LastName</p>
            foreach (var acc in Model.Accounts) 
            {
                if (acc.CusomterId == cust.CusomterId)
                {
                    <p>Kontonr: @acc.AccountNumber</p>
                    <p>Saldo: @acc.Balance sek</p>
                }
            }
            <hr />
        }
    </div>
